__pycache__
*.pyc
.*
!/.gitignore

# dotenv environment variables file
.env
.env.test

#data
**/repos
data/*
!data/city
data/city/mobility
data/city/net/edge
data/city/net/merge
data/city/net/sim
data/city/net/taz/*
!data/city/net/taz/boundary/test/xml
!data/city/net/taz/centroids/test/json
!data/city/output
!data/sf
data/sf/mobility/*
data/sf/net/edge
data/sf/net/merge
data/sf/net/sim
data/sf/output
!data/sf/mobility/sfcta
!data/sf/mobility/uber/
data/sf/mobility/uber/*
!data/sf/mobility/uber/json

/output
logfile.txt
traci_logfile.txt

# .DS_Store
.DS_Store